{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>{% block title %}{% endblock %}</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% block style %}{% endblock %}
</head>
<body>
	<!-- header section start -->
	<div class="header_section">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/product">OUR PRODUCTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/video">VIDEO GAMES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/remote">REMOT CONTROL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">CONTACT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="{% static 'images/search-icon.png' %}"></a>
                </li>
                  {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/accounts/logout">SIGN OUT</a>
                </li>
                  {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="/accounts/login">SIGN IN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/register">REGISTER</a>
                </li>
                  {% endif %}
                <li class="nav-item">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go">
                    </form>
                </li>
              </ul>
            </div>
        </nav>
	</div>
	<!-- header section end -->

    {% block content %}{% endblock %}

  <!-- footer section start -->
  <div class="section_footer ">
      <div class="container">
          <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">About Us</h2>
                  <p class="ipsum_text_2">dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                  <h2 class="account_text">Useful Link</h2>
                  <div class="useful_link">
                    <ul>
                      <li><a href="#">Video games</a></li>
                      <li><a href="#">Remote control</a></li>
                      <li><a href="#">3d controller</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                <h2 class="account_text">Contact Us</h2>
                <p class="ipsum_text_2">dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e </p>
                </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <h2 class="account_text">Newsletter</h2>
            <input type="" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
            <button class="subscribr_bt">SUBSCRIBE</button>
          </div>
        </div>
      </div>
      <div class="social_icon">
        <ul>
          <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
          <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
          <li><a href="#"><img src="{% static 'images/linkdin-icon.png' %}"></a></li>
          <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
        <p class="copyright_text">Copyright 2020 All Right Reserved By <a href="https://html.design/"> Free html Templates</a></p>
    </div>
  </div>
  <!-- copyright section end -->
    {% block js %}{% endblock %}
    <script>
    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
    })
    </script>
</body>
</html>