{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block style %}
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Responsive-->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- fevicon -->
<link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
        {% endfor %}
    {% endif %}
    <form method="post" style="text-align: center;">
        {% csrf_token %}
        <label for="first_name">First name</label><br>
        <input type="text" name="first_name" id="first_name"/><br>
        <label for="last_name">Last name</label><br>
        <input type="text" name="last_name" id="last_name"/><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"/><br>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"/><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"/><br>
        <label for="password_confirm">Password Confirm</label><br>
        <input type="password" name="password_confirm" id="password_confirm"/><br>
        <input type="submit" value="Register"/>
    </form>
{% endblock %}

{% block js %}
<!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
{% endblock %}